#demo {
    width: 100px;
    height: 200px;
    border: 1px solid red;
    margin: 50px;
}

#demo:hover {
    // transform: translateX(50px) translateY(50%) translateZ(-1000px);
    // transform: translate(50px, 50px);
    transform: translate3d(100px, 50px, 100px);
}

.wrapper {
    perspective: 1000px; //离视口中心垂直方向向里100px为原点
    /* 视点原点 为演示 translateZ(100px) */
    border: 1px solid black;
}