.wrapper {
    perspective: 1000px; //离视口中心垂直方向向里100px为原点
    /* 视点原点 为演示 translateZ(100px) */
    border: 1px solid black;
    position: relative;
    height: 351px;
    width: 351px;
}

#demo,
#demo2,
#demo3,
#demo4,
#demo5 {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    margin: 50px;
    transition: all 1s;
    ;
}

#demo2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* 干掉之前的样式 */
    margin: auto;
}

#demo:hover {
    // transform: translateX(50px) translateY(50%) translateZ(-1000px);
    // transform: translate(50px, 50px);
    transform: translate3d(100px, 50px, 100px);
}

#demo3:hover {
    transform: scale(2);
}

#demo4:hover {
    transform: scale(2) rotate(45deg);
}

#demo5:hover {
    transform: skewX(15deg);
}