/demo-test/*/.git
/backUp
/demo-test/*/*/.git
/demo-test/demo44/html-demo-4/.git
/demo-test/html-demo-4/.git
/demo-test/*/dist
*/.cache
*/*/node_modules
*/node_modules
/node_modules
node_modules
/.DS_Store
*/.DS_Store
*/.idea
*/.vscode