/demo-test/*/.git
/posts/
/backUp/demo-test/*/.git
/demo-test/*/*/.git
/demo-test/demo44/html-demo-4/
/backUp/demo-test/
/demo-test/html-demo-4/.git
/demo-test/html-demo-4/
/demo-test/*/dist/
*/.DS_Store
*/.cache/
*/node_modules/
*/.DS_Store
*/.idea
*/.vscode