backUp
*/node_modules
**/node_modules
/node_modules
**.DS_Store
**.idea
**.vscode
**.cache
**.log
**.temp
/vendor
.vscode
.idea
.DS_Store
.cache
node_modules
demo-test/**.git
demo-test/**/.git
demo-test/**.cache
demo-test/**.idea
demo-test/dom-demo-1/.git