@charset "UTF-8";
/*  overflow  */
body > .div4, body > .div5 {
  max-height: 600px;
  max-width: 800px;
  overflow: auto;
  resize: both;
}

body {
  background: #ddd;
}

body > .div1 {
  border: 3px solid yellowgreen;
  height: 200px;
  width: 320px;
  /*  overflow  */
  overflow: visible;
  /* 不写就是默认属性 */
}

body > .div2 {
  border: 3px solid orangered;
  height: 200px;
  width: 320px;
  overflow: hidden;
}

body > .div3 {
  border: 3px solid cyan;
  height: 200px;
  width: 320px;
  overflow: scroll;
}

body > .div4 {
  border: 3px solid gold;
  height: 200px;
  width: 320px;
}

body > .div5 {
  border: 3px solid magenta;
  height: 200px;
  width: 320px;
  /* overflow */
}

body > .div5 > p {
  border: 3px solid red;
  height: 200px;
  width: 320px;
  /* overflow */
  width: 1000px;
}

body > .div5 > .testHeight {
  border: 3px solid darkblue;
  height: 200px;
  width: 320px;
}

body > .testHeight {
  border: 3px solid darkblue;
  height: 200px;
  width: 320px;
}

body > .div6 {
  border: 3px solid pink;
  height: 200px;
  width: 320px;
  width: auto;
  /* overflow */
  overflow-x: scroll;
  overflow-y: visible;
}

body > .div6 > p {
  border: 3px solid brown;
  height: 200px;
  width: 320px;
  width: 800px;
}

.div7 {
  border: 2px solid green;
  height: 200px;
  /*overflow*/
  overflow: auto;
}
