    @mixin show-div ($border-color:red) {
        border: 3px solid $border-color;
        height: 200px;
        width: 320px;
    }
    /*  overflow  */
    
    %resize_auto {
        max-height: 600px;
        max-width: 800px;
        overflow: auto;
        resize: both;
    }
    
    body {
        background: #ddd;
        >.div1 {
            @include show-div(yellowgreen);
            /*  overflow  */
            overflow: visible;
            /* 不写就是默认属性 */
        }
        >.div2 {
            @include show-div(orangered);
            overflow: hidden;
        }
        >.div3 {
            @include show-div(cyan);
            overflow: scroll;
        }
        >.div4 {
            @include show-div(gold);
            @extend %resize_auto;
        }
        >.div5 {
            @include show-div(magenta);
            >p {
                @include show-div(red);
                /* overflow */
                width: 1000px;
                // height: auto;
            }
            >.testHeight {
                @include show-div(darkblue);
            }
            /* overflow */
            @extend %resize_auto;
        }
        >.testHeight {
            @include show-div(darkblue);
        }
        >.div6 {
            @include show-div(pink);
            width: auto;
            /* overflow */
            overflow-x: scroll;
            // overflow-y: hidden;
            overflow-y: visible;
            >p {
                @include show-div(brown);
                width: 800px;
            }
        }
    }
    
    .div7 {
        border: 2px solid green;
        height: 200px;
        /*overflow*/
        overflow: auto;
    }