body {
  padding: 20px;
  background: #ddd;
}

@keyframes fatBD1 {
  from {
    border: 0px solid greenyellow;
  }
  to {
    border: 8px solid orange;
  }
}

@keyframes fatBD2 {
  from {
    border: 0px solid darkblue;
  }
  to {
    border: 8px solid cyan;
  }
}

@keyframes fatBD3 {
  from {
    border: 0px solid darkgoldenrod;
  }
  to {
    border: 8px solid rebeccapurple;
  }
}

@keyframes fatBD4 {
  from {
    border: 0px solid violet;
  }
  to {
    border: 8px solid lawngreen;
  }
}

span {
  border: 1px solid red;
  padding: 30px 20px;
  animation: fatBD1 3.5s ease-in-out 0.35s infinite alternate both;
}

div {
  border: 1px solid greenyellow;
  line-height: 100px;
  animation: fatBD1 3.2s ease-in-out 0.35s infinite alternate both;
}

.second {
  /* line-height: 100px; */
  border: 1px solid purple;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  animation: fatBD3 3.2s ease-in-out 0.35s infinite alternate both;
}

.third {
  border: 1px solid cyan;
  font-family: monospace;
  animation: fatBD2 3.2s ease-in-out 0.35s infinite alternate both;
}

._4th {
  border: 1px solid rebeccapurple;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  animation: fatBD3 3s ease-in-out 0.35s infinite alternate both;
}

._5th {
  border: 1px solid darkgoldenrod;
  font-family: monospace;
  animation: fatBD4 3s ease-in-out 0.35s infinite alternate both;
}
