body {
    padding: 20px;
    background: #ddd;
}

@mixin anime($name, $time:3s) {
    animation: $name $time ease-in-out 0.35s infinite alternate both;
}

@mixin fatBD($BDWidth_before:0px, $BDWidth_after:8px, $BDcolor_bf:greenyellow, $BDcolor_af:purple) {
    from {
        border: $BDWidth_before solid $BDcolor_bf;
    }
    to {
        border: $BDWidth_after solid $BDcolor_af;
    }
}

@keyframes fatBD1 {
    @include fatBD(0px, 8px, greenyellow, orange);
}

@keyframes fatBD2 {
    @include fatBD(0px, 8px, darkblue, cyan);
}

@keyframes fatBD3 {
    @include fatBD(0px, 8px, darkgoldenrod, rebeccapurple);
}

@keyframes fatBD4 {
    @include fatBD(0px, 8px, violet, lawngreen);
}

span {
    border: 1px solid red;
    padding: 30px 20px;
    @include anime(fatBD1, 3.5s);
}

div {
    border: 1px solid greenyellow;
    line-height: 100px;
    @include anime(fatBD1, 3.2s);
}

.second {
    /* line-height: 100px; */
    border: 1px solid purple;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    @include anime(fatBD3, 3.2s);
}

.third {
    border: 1px solid cyan;
    font-family: monospace;
    @include anime(fatBD2, 3.2s);
}

._4th {
    border: 1px solid rebeccapurple;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    @include anime(fatBD3, 3s);
}

._5th {
    border: 1px solid darkgoldenrod;
    font-family: monospace;
    @include anime(fatBD4, 3s);
}