* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
}

header {
    display: block;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.logo {
    background: grey;
    display: inline-block;
    float: left;
    margin-top: 8px;
    margin-left: 10px;
}

.logo>img {
    height: 26px;
    vertical-align: middle;
}

.nav {
    float: right;
    margin-left: 20px;
}

ul>li {
    float: left;
    padding: 4px 0.5em;
    line-height: 32px;
}

ul {
    display: inline-block;
}

header {
    background: grey;
    color: white;
}

.content {
    margin-top: 10px;
}

.content {
    outline: 1px solid red;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.content>aside {
    width: 200px;
    height: 300px;
    float: left;
    background: #999;
}

.content>main {
    height: 300px;
    width: 500px;
    float: left;
    background: #ccc;
}

.content>.ad {
    width: 100px;
    height: 300px;
    float: left;
    background: #000;
}

.imageList {
    outline: 1px solid green;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.imageList>.x>.image {
    width: 191px;
    height: 191px;
    background: #000;
    border: 50px solid red;
    float: left;
    margin-bottom: 10px;
    margin-right: 12px;
}

.imageList>.x {
    margin-right: -12px;
}