* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.logo {
  border: 1px solid red;
  width: 100px;
  height: 40px;
  float: left;
  margin-top: 5px;
}

nav {
  border: 1px solid green;
  width: 200px;
  height: 50px;
  float: left;
}

.user {
  border: 1px solid blue;
  height: 30px;
  float: left;
  max-width: 100px;
}

header {
  border: 1px solid purple;
}
