@mixin container($flex-direction:row, $flex-wrap:nowrap, $justify-content: flex-start, $align-items: stretch) {
    /* emmet: d:f */
    display: flex;
    border: 1px solid red;
    max-width: 450px;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
    justify-content: $justify-content;
    align-items: $align-items;
}

.container0 {
    @include container(row, nowrap, flex-start, stretch);
    overflow: auto;
}

.container1 {
    @include container(column);
}

.container-0 {
    @include container(row-reverse);
}

.container-1 {
    @include container(column-reverse);
}

.container2 {
    @include container(row, wrap);
}

.container3 {
    @include container(row, wrap-reverse);
}

.container4 {
    @include container(row, wrap-reverse, flex-end);
}

.container5 {
    @include container(row, wrap-reverse, center);
}

.container6 {
    @include container(row, wrap-reverse, space-between);
}

.container7 {
    @include container(row, wrap-reverse, space-around);
}

.container8 {
    @include container(row, wrap-reverse, space-evenly);
}

.container9 {
    @include container(row, wrap-reverse, space-evenly);
}

.container10 {
    @include container(row, wrap-reverse, space-evenly);
}

.container11 {
    @include container(row, wrap-reverse, space-evenly);
}

.container12 {
    @include container(row, wrap-reverse, space-evenly);
}

@mixin items-height($height:50px, $border-color:yellowgreen) {
    width: 50px;
    height: $height;
    border: 1px solid $border-color;
    color: darkslateblue;
    background-color: whitesmoke;
}

.item {
    @include items-height(50px);
}

.item1 {
    @include items-height(100px, gold);
}

.item2 {
    @include items-height(200px, darkturquoise);
}

.item3 {
    @include items-height(150px, darkviolet);
}

.item_stretch1 {
    @include items-height(auto, darkolivegreen);
    height: 100px;
}

.item_stretch2 {
    @include items-height(auto, darkorange);
    height: 200px;
}

.item_stretch3 {
    @include items-height(auto, darkblue);
    height: 150px;
}


/*
.item_stretch {
    animation: max_height 5s ease-in-out .5s infinite both alternate;
}
*/

.item_stretch_auto {
    animation: max_height_auto 5s ease-in-out .5s infinite both alternate;
}

// .item_stretch1 {
//     animation: max_height 5s ease-in-out .5s infinite both alternate;
// }
// .item_stretch2 {
//     animation: max_height 5s ease-in-out .5s infinite both alternate;
// }
// .item_stretch3 {
//     animation: max_height 5s ease-in-out .5s infinite both alternate;
// }

/*

@keyframes max_height {
    0% {
        @include items-height(100px, purple);
        max-height: 300px;
    }
    50% {
        @include items-height(200px, darkorange);
        max-height: 300px;
    }
    100% {
        @include items-height(300px, darkcyan);
        max-height: 300px;
    }
}


*/

@keyframes max_height_auto {
    from {
        @include items-height(auto, yellowgreen);
        max-height: 300px;
    }
    to {
        @include items-height(auto, red);
        max-height: 300px;
    }
}

// @mixin autoHeight($height_1st:100px, $height_2nd:200px, $height_3rd:300px, $height_4th:400px) {
//     0% {
//         @include items-height($height_1st, purple);
//     }
//     45% {
//         @include items-height($height_2nd, darkorange);
//     }
//     75% {
//         @include items-height($height_3rd, violet);
//     }
//     100% {
//         @include items-height($height_4th, darkcyan);
//     }
// }
// @keyframes auto_height {
//     @include autoHeight();
// }
.container13 {
    @include container(row, nowrap, flex-start, flex-start);
}

.container14 {
    @include container(row, nowrap, flex-start, flex-end);
}

.container15 {
    @include container(row, nowrap, flex-start, center);
}

@mixin align_content($align-content:stretch) {
    height: 400px;
    align-content: $align-content;
}

.container16 {
    @include align_content(stretch);
}

.container17 {
    @include align_content(flex-start);
}

.container18 {
    @include align_content(flex-end);
}

.container19 {
    @include align_content(center);
}

.container20 {
    @include align_content(space-between);
}

.container21 {
    @include align_content(space-around);
}

.container22 {
    @include align_content(space-evenly);
}