@mixin container($flex-direction:row, $flex-wrap:nowrap, $justify-content: flex-start, $align-items: stretch) {
    /* emmet: d:f */
    display: flex;
    border: 1px solid red;
    max-width: 450px;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
    justify-content: $justify-content;
    align-items: $align-items;
}

.container0 {
    @include container(row, nowrap, flex-start, stretch);
    overflow: auto;
}

@mixin items-height($height:50px, $border-color:yellowgreen) {
    width: 50px;
    height: $height;
    border: 1px solid $border-color;
    color: darkslateblue;
    background-color: whitesmoke;
}