* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

ul > li {
  float: left;
  border: 1px solid red;
  padding: 4px 0.5em;
}

ul {
  border: 1px solid green;
}
