* {
    box-sizing: border-box;
}

.demo {
    box-sizing: border-box;
    margin: 12px;
    border: 15px solid rgba(255, 0, 0, .9);
    padding: 22px;
    width: 180px;
    height: 180px;
    background: darkolivegreen;
    color: darkorange;
    font-size: 35px;
    font-weight: bolder;
}

.demo2 {
    background: rgb(120, 184, 211);
    width: 200px;
    height: 200px;
    border: 15px solid rgba(255, 0, 0, 0.2);
    padding: 10px;
    color: darkblue;
    font-size: 25px;
    font-weight: bolder;
    ;
}

.childDiv {
    background: #fff;
    height: 50px;
    color: olive;
    margin-bottom: -12px;
    margin-top: -12px;
    font-size: 20px;
}

.float {
    float: left;
    background: rgba(120, 180, 0, .9);
    height: 50px;
    width: 50px;
    color: red;
    padding-bottom: 38px;
    margin-right: -12px;
}

.text {
    margin-left: -10px;
    color: cyan;
    font-size: 18px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.container1,
.container2,
.container3,
.container4 {
    background: whitesmoke;
    border: 1px solid red;
    height: 300px;
    padding: 50px;
    position: relative;
    @mixin demoN($borderColor: red, $backgroundColor: transparent, $width: 100px, $height: 100px, $position: static, $top: inherit, $left: inherit) {
        border: 1px solid $borderColor;
        background: $backgroundColor;
        width: $width;
        height: $height;
        position: $position;
        top: $top;
        left: $left;
    }
    >.demo3 {
        @include demoN(yellowgreen, transparent, 100px, 100px, relative, 10px, 10px);
    }
    >.demo4 {
        @include demoN(red, grey, 100px, 100px);
    }
    >.demo5 {
        @include demoN(green, transparent, 50px, 50px, relative, 5px);
        float: left;
    }
    >.demo6 {
        @include demoN(red, black, 50px, 60px, static);
        float: left;
    }
    >.close {
        // border: 1px solid black;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 8px;
        background: red;
        color: white;
    }
    >button {
        position: relative;
    }
    >button span {
        position: absolute;
        border: 1px solid red;
        white-space: nowrap;
        bottom: calc(100% + 8px);
        left: 50%;
        // margin-left: -50px;
        transform: translateX(-50%);
        display: none;
    }
    >button:hover span {
        display: inline-block;
    }
    >.fixed {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        border: 1px solid green;
        width: 100px;
        height: 100px;
        position: fixed;
        right: 10px;
        bottom: 10px;
    }
    >.sticky {
        position: sticky;
        top: 0;
        border: 1px solid blue;
        background: lightblue;
    }
}

.container4 {
    height: 1800px;
}