    * {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }
    
    body {
        // border: 1px solid #000;
        background: #fff;
    }
    
    %margin-10px {
        margin: 10px;
    }
    
    @mixin rain-border($h: 0, $width-height: 400px) {
        // border: 1px solid hsl($h, 80%, 50%);
        width: $width-height;
        height: $width-height;
        background: hsl($h, 80%, 50%);
        border-radius: 50%;
    }
    
    .rainbow {
        // border: 1px solid #000;
        height: 200px;
        overflow: hidden;
        >div {
            @include rain-border(0, 400px);
            animation: rain-rain 2s linear 1s infinite alternate both;
            >div {
                @include rain-border(30, 380px);
                @extend %margin-10px;
                >div {
                    @include rain-border(50, 360px);
                    @extend %margin-10px;
                    >div {
                        @include rain-border(120, 340px);
                        @extend %margin-10px;
                        >div {
                            @include rain-border(180, 320px);
                            @extend %margin-10px;
                            >div {
                                @include rain-border(240, 300px);
                                @extend %margin-10px;
                                >div {
                                    @include rain-border(270, 280px);
                                    @extend %margin-10px;
                                    animation: rainbow 6s ease-out infinite 2s alternate both;
                                    >div {
                                        @include rain-border(0, 260px);
                                        background-color: white;
                                        @extend %margin-10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    .rainbow div {
        overflow: hidden;
    }
    
    $rad:360;
    @keyframes rainbow {
        0% {
            @include rain-border(270, auto);
        }
        17% {
            @include rain-border(240, auto);
        }
        33% {
            @include rain-border(180, auto);
        }
        49% {
            @include rain-border(120, auto);
        }
        66% {
            @include rain-border(50, auto);
        }
        72% {
            @include rain-border(30, auto);
        }
        100% {
            @include rain-border(0, auto);
        }
    }